*.pyc
__pycache__/
*.pyo
*.pyd
.Python
db.sqlite3
*.sqlite3
.env
.DS_Store
*.log
*.gz
*.orig
*_test.go
.idea/
*.iml
.vscode/
node_modules/
npm-debug.log
yarn-error.log
dist/
build/
.DS_Store
server.log