fastapi
httpx
langchain
langchain-community
langchain-experimental
langchain-openai
lxml
markdown
numpy
pandas
scipy
matplotlib
seaborn
pillow
pydantic
pytesseract
requests
tabula-py
python-dotenv
cssselect
datetime
wikipedia
duckduckgo-search
sqlalchemy
shell
nest-asyncio
asyncio
aiohttp
bs4
uvicorn
playwright
python-multipart